@import 'scss/base';
@import 'scss/mixins';

body {
  color: $font;
  background-image: $bcg-gradient;
  background-size: 20.00px 20.00px;
}

.App {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1024px;
}

h1, h2, h3 {
  text-align: center;
}

h2, h3 {
  font-size: 16px;
}

.list-options {
  display: flex;
  flex-direction: column;
  margin: 30px auto 10px auto;

  @include breakpoint(tablet) {
    text-align: center;
    flex-direction: row;
    justify-content: center;
  }

  &-label {
    font-weight: 600;
    margin-right: 10px;

    &__second {
      @include breakpoint(tablet) {
        margin-left: 20px;
      }
    }
  }
}

.list-options-label, 
.input-wrapper {
  margin-bottom: 10px;

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }
}

.input-wrapper {
  display: inline;
  margin-right: 10px;
}

.language-option {
  max-width: 200px;
}


.data-table {
  width: 100%;
  border: 2px solid $border-table;
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 50px;
  overflow: hidden;
}

.data-table-head {
  background-color: $table-head;
  height: 40px;
  text-align: left
}

.row {
  height: 30px;  
  border: 1px solid $border-row;
  &:hover {
    box-shadow: $boxshadow-hover;
  }
}

.td-no {
  text-align: center
}

.td-language {
  font-family: 'Source Code Pro';
}

.td-link a {
  text-decoration: none;
}

.td-language-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.td-author {
  display: none;

  @include breakpoint(tablet) {
    display: table-cell;
  }
}

.td-stars,
.td-forks {
  display: none;

  @include breakpoint(desktop) {
    display: table-cell;
  }
}

.dot-loader {
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 100%;

  .dots {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-10px);
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background-color: $loader-dot;
    animation: dot-move 2s infinite cubic-bezier(.2, .64, .81, .23);

    &:nth-child(2) {
      animation-delay: 150ms;
    }
    &:nth-child(3) {
      animation-delay: 300ms;
    }
    &:nth-child(4) {
      animation-delay: 450ms;
    }
  }

  @keyframes dot-move {
    0% {left: 0%;}
    75% {left:100%;}
    100% {left:110%;}
  }
}
